.popularTitle {
    text-align: left;
    margin-top: 64px;
}

.popularTitle h3 {
    margin-bottom: 16px;
}

.popularTitle p {
    margin-bottom: 28px;
    width: 75%;
}

.popularBox {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap; 
}

.popularItem {
    text-align: center;
    cursor: pointer; 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.popularItem img {
    width: 100%;
    border-radius: 50%; 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.popularItem:hover img {
    animation: pulseAndShrink 1s ease-out;
}

.popularItem p {
    font-weight: 600;
    padding-top: 24px;
    margin-top: 10px; 
    transition: text-decoration 0.3s ease; 
}

.popularItem p:hover {
    text-decoration: underline; 
}
/* Анимация пульсации и уменьшения */
@keyframes pulseAndShrink {
    0% {
        transform: scale(1); /* Исходный размер */
        box-shadow: 0 0 0 0 rgba(71, 20, 225, 0.879); /* Нет окантовки */
    }
    25% {
        transform: scale(1.1); /* Увеличение на 10% */
        box-shadow: 0 0 10px 5px #90e2e8ee; /* Появление светло-голубой окантовки */
    }
    50% {
        transform: scale(1); /* Возвращение к исходному размеру */
        box-shadow: 0 0 0 0 rgba(71, 20, 225, 0.879); /* Уменьшение окантовки */
    }
    75% {
        transform: scale(0.9); /* Уменьшение на 10% */
        box-shadow: 0 0 10px 5px rgba(67, 208, 224, 0.768); /* Появление светло-голубой окантовки */
    }
    100% {
        transform: scale(1); /* Возвращение к исходному размеру */
        box-shadow: 0 0 0 0 rgba(12, 230, 205, 0.912); /* Уменьшение окантовки */
    }
}

@media (max-width: 992px) {
    .popularBox {
        flex-direction: column;
        align-items: center;
    }
    .popularItem {
        width: 100%;
        max-width: 250px; 
    }
}
@media (max-width: 576px) {
    .popularTitle p {
        width: 100%; 
    }
}